{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p class="lead">Это главная страница проекта.</p>
</div>

<section class="row">
    <div class="col-md-4">
        <h3>Функция 1</h3>
        <p>Описание функции...</p>
    </div>
    <div class="col-md-4">
        <h3>Функция 2</h3>
        <p>Описание функции...</p>
    </div>
    <div class="col-md-4">
        <h3>Функция 3</h3>
        <p>Описание функции...</p>
    </div>
</section>
{% endblock %}